# This is my first coding.

In [120]:
# Printing Hello world
print("Hello World")

Hello World

In [121]:
'''This multiple line comment'''
print("I love python")

I love python

In [122]:
x = 2 # Declearing variable
X = 5
print(x)

2

In [123]:
print(X)

5

In [124]:
first_name = "Kiran" # Assigning string to a variable
last_name = "Paudel"
print("my name is ",first_name,"and last name is",last_name )

my name is  Kiran and last name is Paudel

In [125]:
_age = 25
name7 = "Sarah"
n7ame = "Joshnson"
country = "Nepal"
Country = "USA"

In [126]:
# 7name = "Ram"# varaible name starting from numbers are not accepted

In [127]:
print("_age:",_age)
print("name7",name7)
print("n7ame:",n7ame)
print("country:",country)
print("Country:",Country)

_age: 25
name7 Sarah
n7ame: Joshnson
country: Nepal
Country: USA

In [128]:
name1 = "Kiran"
age1 = 24
print("my name is ",name1 ,"and my age is age1", age1)

my name is  Kiran and my age is age1 24

In [129]:
type(name1)

str

In [130]:
type(age1)

int

In [131]:
ls = [1 ,24,5 ]
type(ls)

list

In [132]:
x = int(2.45) # forcing to change from float to integer
y = str(45)# changing int to string
z = float(2)# changing to float
x,y,z

(2, '45', 2.0)

# Arthimetic Operation

In [133]:
2 + 2 # addition

4

In [134]:
2 - 2 # substraction

0

In [135]:
2 * 3 # multiplication

6

In [136]:
3 / 3 # division

1.0

In [137]:
2 ** 2 # 2 to the powert 3

4

In [138]:
5 % 2 # remainder

1

In [139]:
5 % 3 # floor division

2

# Exercise

In [140]:
 x = 7 * (3 + 8 -4)/6
x

8.166666666666666

In [141]:
y = (x)% 2
y

0.16666666666666607

In [142]:
z = y ** 3
z

0.00462962962962958

In [143]:
k = z//3
k

0.0

In [144]:
x = 3
x

3

In [145]:
x += 5 # its adds 5 in x
x

8

In [146]:
x *= 5
x

40

# comparision operation

In [147]:
2 == 3

False

In [148]:
2 != 3

True

In [149]:
2 < 3

True

In [150]:
3 <= 3

True

# Logical Operation

In [151]:
2 > 1 and 3 < 5

True

In [152]:
2 < 3 or 5 < 3

True

In [153]:
2 < 3 and 5 < 3

False

In [154]:
2 > 1 or 3 < 5

True

# logical opertator procedure

In [155]:
False or True  and not True

False

# Identity Operators

In [156]:
x = 2
type(x) is int

True

In [157]:
y = 2.32
type(y) is int

False

In [158]:
type(y) is not int

True

In [159]:
type(y) is float

True

# membership Operation

In [160]:
'h' in 'hello'

True

In [161]:
'llo' in 'hello'

True

In [162]:
'm' in 'hello'

False

# Bitwise Operators

In [163]:
 2 & 3

2

In [164]:
2 | 3

3

# Python List

In [165]:
fruits = [ "Apple","Banana","Peach"]
print(fruits)
type(fruits)

['Apple', 'Banana', 'Peach']

list

In [166]:
Num = [1,2,3,4,5]
print(Num)
type(fruits)

[1, 2, 3, 4, 5]

list

In [167]:
len(fruits)

3

In [168]:
myList = [1 , 3.0, 'Hello',True]
print(myList)
type(myList)

[1, 3.0, 'Hello', True]

list

In [169]:
fruits[2]

'Peach'

In [170]:
fruits[1:3] #it include 1 but not 3

['Banana', 'Peach']

In [171]:
Num[2:]

[3, 4, 5]

In [172]:
Num[:3]

[1, 2, 3]

In [173]:
Num[2: 4]

[3, 4]

In [174]:
'Banana' in fruits

True

In [175]:
'Mango' in fruits

False

# Change list items

In [176]:
fruits[1] = 'Mango'# its reasign the index 1 value to given value
fruits

['Apple', 'Mango', 'Peach']

In [177]:
fruits

['Apple', 'Mango', 'Peach']

In [178]:
fruits[1:3] = ['Mang','peac']
fruits

['Apple', 'Mang', 'peac']

In [179]:
fruits

['Apple', 'Mang', 'peac']

In [180]:
fruits[2:3] = ['Mango','Grapes']
fruits

['Apple', 'Mang', 'Mango', 'Grapes']

In [181]:
fruits[3:5] = ['Grape']

In [182]:
fruits

['Apple', 'Mang', 'Mango', 'Grape']

# List Methods

In [183]:
fruits.insert(1,"berry") # it insert the value using index
fruits

['Apple', 'berry', 'Mang', 'Mango', 'Grape']

In [184]:
fruits.append("Jackfruit") # it adds item to the last position of list
fruits

['Apple', 'berry', 'Mang', 'Mango', 'Grape', 'Jackfruit']

In [185]:
fruits.pop() # it remove the last item from a list

'Jackfruit'

In [186]:
fruits.pop(2) # it remove the item belong to index 2

'Mang'

In [187]:
fruits.remove("Grape")#it remove Grape from the list
fruits

['Apple', 'berry', 'Mango']

In [188]:
fruits.clear() # its empty out the list
fruits

[]

In [190]:
fruits = ['Apple', 'Mang', 'Mango', 'Grape', 'Jackfruit'] # creating a list again
fruits

['Apple', 'Mang', 'Mango', 'Grape', 'Jackfruit']

In [191]:
del fruits[0] # it delete the item from index 0
fruits

['Mang', 'Mango', 'Grape', 'Jackfruit']

In [192]:
# del fruits # its delete  list completely

In [193]:
fruits = ['Apple', 'Mang', 'Mango', 'Grape', 'Jackfruit'] # creating a list again
fruits

['Apple', 'Mang', 'Mango', 'Grape', 'Jackfruit']

# Sorting list

In [194]:
fruits.sort(reverse = False) #  sorting alphabhetically and in ascending order by comparing with ascii value
fruits

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']

In [195]:
fruits.sort() # in default it use reverse as false
fruits

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']

In [196]:
fruits.sort(key = str.lower) # it convert every item into lower to sort
fruits

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']

In [197]:
fruits.sort(reverse = True) # sorting in desending order
fruits

['Mango', 'Mang', 'Jackfruit', 'Grape', 'Apple']

In [ ]:
fruits.reverse() # you can reverse the items without using sort method
fruits

# Making copy of list

In [ ]:
copy_of_fruits = fruits.copy() # copying the list
copy_of_fruits

                      or

In [ ]:
copy_of_fruits1 = list(fruits) # copying the list
copy_of_fruits1

# join list

In [ ]:
join_list = copy_of_fruits + fruits # joining to list items
print(join_list)

In [ ]:
copy_of_fruits.extend(fruits) # it extend the first list by adding items of second list
print(copy_of_fruits)


Note : joining using + sign doesnt change both list but using extend method modify first list by adding items 
                           of the second list to the first list

# Python Conditional

## If statements

In [ ]:
x = int(input("input your age : ")) # voting eligible if your age is 18 or greater 

if x >= 18 :
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

In [ ]:
x = 2
if x > 5 :
    print(" x is greater than 5")
elif x > 3:
    print("x is greater than 3")
else :
    print("x is lesser than both 3 and 5")

## Short hand if

In [ ]:
x = 3
if x == 3 : print('x is equall to 3')

In [ ]:
x = 2
print("x is equall to 2") if x == 2  else print("x is not equall to 2")