# Python For Data Science

In [6]:
# Printing Hello world
print("Hello World")

Hello World

In [7]:
'''This is multiple line comment'''
print("I love python")

I love python

In [8]:
# This is single line comment

###### Variables are containers that hold data values.

In [9]:
x = 2 # Declearing variable
X = 5
print(x)

2

In [10]:
print(X)

5

In [11]:
# variables can hold string values (text) as well.
#String needs to be enclosed inside a pair of single or double quotes.

first_name = "Kiran" # Assigning string to a variable
last_name = "Paudel"
print("my name is ",first_name,"and last name is",last_name )

my name is  Kiran and last name is Paudel

In [12]:
_age = 25
name7 = "Sarah"
n7ame = "Joshnson"
country = "Nepal"
Country = "USA"

In [13]:
 7name = "Ram"# Variable name starting from numbers are not accepted.

In [14]:
# variable name which are accepted
print("_age:",_age)
print("name7",name7)
print("n7ame:",n7ame)
print("country:",country)
print("Country:",Country)

_age: 25
name7 Sarah
n7ame: Joshnson
country: Nepal
Country: USA

In [15]:
name1 = "Kiran"
age1 = 24
print("my name is ",name1 ,"and my age is age1", age1)

my name is  Kiran and my age is age1 24

     checking data types ⬇️

In [16]:
type(name1) # Text is String : str

str

In [17]:
type(age1) # integer

int

In [18]:
ls = [1 ,24,5 ] # list
type(ls)

list

In [19]:
x = int(2.45) # forcing to change from float to integer
y = str(45)# changing int to string
z = float(2)# changing to float
x,y,z

(2, '45', 2.0)

# Arthimetic Operation

In [14]:
2 + 2 # Addition

4

In [15]:
2 - 2 # Substraction

0

In [16]:
2 * 3 # Multiplication

6

In [17]:
3 / 3 # Division

1.0

In [18]:
2 ** 2  # Exponentiation ( ** ) or power

4

In [19]:
5 % 2 # Remainder

1

In [20]:
5 % 3 # Floor division

2

# Exercise

In [21]:
 x = 7 * (3 + 8 -4)/6
x

8.166666666666666

In [22]:
y = (x)% 2
y

0.16666666666666607

In [23]:
z = y ** 3
z

0.00462962962962958

In [24]:
k = z//3
k

0.0

In [25]:
x = 3
x

3

In [26]:
x += 5 # its adds 5 in x
x

8

In [27]:
x *= 5
x

40

# comparision operation

In [28]:
2 == 3

False

In [29]:
2 != 3

True

In [30]:
2 < 3

True

In [31]:
3 <= 3

True

# Logical Operation

In [32]:
2 > 1 and 3 < 5

True

In [33]:
2 < 3 or 5 < 3

True

In [34]:
2 < 3 and 5 < 3

False

In [35]:
2 > 1 or 3 < 5

True

# Logical Operator Procedure

In [20]:
False or True  and not True

False

# Identity Operators

###### The identity operators in Python are used to determine whether a value is of a certain class or type.

In [37]:
x = 2  # (is) is identify operator
type(x) is int

True

In [38]:
y = 2.32
type(y) is int

False

In [39]:
type(y) is not int

True

In [40]:
type(y) is float

True

# membership Operation

      Membership operators are used to test if a sequence is present in an object.
      The two membership operators in Python are: * in * not in

In [41]:
'h' in 'hello' #(in) it is membership operation`

True

In [42]:
'llo' in 'hello'

True

In [43]:
'm' in 'hello'

False

# Bitwise Operators

In [44]:
 2 & 3

2

In [45]:
2 | 3

3

# Python List

    List is an ordered collection of items, i.e. each item has an index (position number) associated with
    it. The index always starts with zero. So, the first item in the list has index 0, second item has
    index 1 and so on.

In [22]:
fruits = [ "Apple","Banana","Peach"]
print(fruits)
type(fruits)

['Apple', 'Banana', 'Peach']

list

In [47]:
Num = [1,2,3,4,5]
print(Num)
type(fruits)

[1, 2, 3, 4, 5]

list

In [48]:
len(fruits) # Return length

3

In [49]:
myList = [1 , 3.0, 'Hello',True]
print(myList)
type(myList)

[1, 3.0, 'Hello', True]

list

# Accessing list items

In [50]:
fruits[2]

'Peach'

In [51]:
fruits[1:3] # It include 1 but not 3

['Banana', 'Peach']

In [52]:
Num[2:]

[3, 4, 5]

In [53]:
Num[:3]

[1, 2, 3]

In [54]:
Num[2: 4]

[3, 4]

In [55]:
'Banana' in fruits

True

In [56]:
'Mango' in fruits

False

# Change list items

In [57]:
fruits[1] = 'Mango'# its reasign the index 1 value to given value
fruits

['Apple', 'Mango', 'Peach']

In [58]:
fruits

['Apple', 'Mango', 'Peach']

In [59]:
fruits[1:3] = ['Mang','peac']
fruits

['Apple', 'Mang', 'peac']

In [25]:
fruits[::-1] # It reverse

['Peach', 'Banana', 'Apple']

In [60]:
fruits

['Apple', 'Mang', 'peac']

In [61]:
fruits[2:3] = ['Mango','Grapes']
fruits

['Apple', 'Mang', 'Mango', 'Grapes']

In [62]:
fruits[3:5] = ['Grape']

In [63]:
fruits

['Apple', 'Mang', 'Mango', 'Grape']

# List Methods

In [64]:
fruits.insert(1,"berry") # it insert the value using index
fruits

['Apple', 'berry', 'Mang', 'Mango', 'Grape']

In [65]:
fruits.append("Jackfruit") # it adds item to the last position of list
fruits

['Apple', 'berry', 'Mang', 'Mango', 'Grape', 'Jackfruit']

In [66]:
fruits.pop() # it remove the last item from a list

'Jackfruit'

In [67]:
fruits.pop(2) # it remove the item belong to index 2

'Mang'

In [68]:
fruits.remove("Grape")#it remove Grape from the list
fruits

['Apple', 'berry', 'Mango']

In [69]:
fruits.clear() # its empty out the list
fruits

[]

In [70]:
fruits = ['Apple', 'Mang', 'Mango', 'Grape', 'Jackfruit'] # creating a list again
fruits

['Apple', 'Mang', 'Mango', 'Grape', 'Jackfruit']

In [71]:
del fruits[0] # it delete the item from index 0
fruits

['Mang', 'Mango', 'Grape', 'Jackfruit']

In [72]:
# del fruits # its delete  list completely

In [73]:
fruits = ['Apple', 'Mang', 'Mango', 'Grape', 'Jackfruit'] # creating a list again
fruits

['Apple', 'Mang', 'Mango', 'Grape', 'Jackfruit']

# Sorting list

In [74]:
fruits.sort(reverse = False) #  sorting alphabhetically and in ascending order by comparing with ascii value
fruits

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']

In [75]:
fruits.sort() # in default it use reverse as false
fruits

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']

In [76]:
fruits.sort(key = str.lower) # it convert every item into lower to sort
fruits

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']

In [77]:
fruits.sort(reverse = True) # sorting in desending order
fruits

['Mango', 'Mang', 'Jackfruit', 'Grape', 'Apple']

In [78]:
fruits.reverse() # you can reverse the items without using sort method
fruits

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']

# Making copy of list

In [79]:
copy_of_fruits = fruits.copy() # copying the list
copy_of_fruits

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']

                      or

In [80]:
copy_of_fruits1 = list(fruits) # copying the list
copy_of_fruits1

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']

# join list

In [81]:
join_list = copy_of_fruits + fruits # joining to list items
print(join_list)

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango', 'Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']

In [82]:
copy_of_fruits.extend(fruits) # it extend the first list by adding items of second list
print(copy_of_fruits)

['Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango', 'Apple', 'Grape', 'Jackfruit', 'Mang', 'Mango']


Note : joining using + sign doesnt change both list but using extend method modify first list by adding items 
                           of the second list to the first list

# Python Conditional

## If statements

In [83]:
x = int(input("input your age : ")) # voting eligible if your age is 18 or greater 

if x >= 18 :
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

input your age : 25
you are eligible to vote

In [84]:
x = 2
if x > 5 :
    print(" x is greater than 5")
elif x > 3:
    print("x is greater than 3")
else :
    print("x is lesser than both 3 and 5")

x is lesser than both 3 and 5

## Short hand if

    You can put the if code block in one line as well.

In [85]:
x = 3
if x == 3 : print('x is equall to 3')

x is equall to 3

In [86]:
x = 2
print("x is equall to 2") if x == 2  else print("x is not equall to 2")

x is equall to 2

# Nested if

In [87]:
x = 35
if x > 10: # In nested  second if statement runs only if first if condition is true
    print("x is greater than 10")
    if x < 30:
        print("but it is less than 30")
    else:
        print("and it is greater than 30 as well !")

x is greater than 10
and it is greater than 30 as well !

# Python loop

## While loop

     In a while loop, the loop runs as long as the condition is true

In [89]:
x = 0
while x < 5: # it runs as long as condition is true
    print(x)
    x += 1

0
1
2
3
4

In [90]:

x = 0
while x < 5: # it runs as long as condition is true but break statement breaks
    print(x)
    x += 1
    if x == 2:
        break

0
1

In [97]:
x = 0
while x < 10: # it skip 3 and continue
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5
6
7
8
9
10

# for loop

      The for loop is something you will be using a lot. It can iterate over a sequence (i.e. list, tuple,
      set, dict, string).

In [95]:
for fruit in fruits:
    print(fruit)

Apple
Grape
Jackfruit
Mang
Mango

In [98]:
for string in "Python": # iterating over a string
    print(string)

P
y
t
h
o
n

In [99]:
for fruit in fruits:
    print(fruit)
    if fruit == "Mang":
        break

Apple
Grape
Jackfruit
Mang

In [103]:
for fruit in fruits:
    if fruit == "Mang":
        continue
    print(fruit)

Apple
Grape
Jackfruit
Mango

In [105]:
for i in range(5): # range start from 0 by default and last item is exclusive
    print(i)

0
1
2
3
4

In [107]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

# Nested loop

    You can put a loop inside a loop, which is called a nested loop.

In [111]:
colors = ["red","blue","green"]
objects = ["chair","table","house"]
 
for i in colors:
    for j in objects:
        print(i,j)

red chair
red table
red house
blue chair
blue table
blue house
green chair
green table
green house

# Python a Function

    Functions are blocks of code which run only when called. Functions are not executed unless they
    are called. Functions most often take some input/s known as parameters and return some output.

In [112]:
def add(x,y): # x and y are parameters
    return x + y

In [113]:
add(2,5) # 2 and 5 are arguments

7

In [118]:
 add(3) # here add() missing 1 required positional argument: 'y'

TypeError: add() missing 1 required positional argument: 'y'

In [119]:
 add(2,4,8) #add() takes 2 positional arguments but 3 were given

TypeError: add() takes 2 positional arguments but 3 were given

    Note: Parameters vs. Arguments Parameters are the variables defined inside the parentheses right
    after the function name in the function definition. Arguments are the values provided to the
    function inside the parentheses right after the function name, when calling the function.

In [120]:
def square(x):
    return x**2

In [117]:
square(5)

25

## Arbitary argument

    If you do not know in advance how many arguments will be passed, you can define a function with
    arbitrary arguments by adding an * (asterisk) before the parameter name.

In [129]:
def add(*nums):
    sum = 0
    for i in nums:
        sum += 1
    return sum

In [130]:
add(1,2,3,4,5,8,9,10)

8

### Default parameter value

    When defining a function, we can provide a default value to parameters. When we call the function
    with default parameter value/s, if the argument is not passed for the default parameters, the default
    value is used.

In [131]:
def multiply(x,y = 5):
    return x * y

In [132]:
multiply(4)

20

In [134]:
multiply(4,8)

32

# Lambda function

    Lambda functions are anonymous (without a name) functions. They can take any number of
    arguments, but they can have only one expression. The syntax is of the following form: lamdba
    arguments : expression

In [136]:
sum = lambda x, y: x + y

In [137]:
sum(2,5)

7

# Python Tuples



1. can store multiple values in a single variable
2. are enclosed by parentheses ()
3. are ordered collection of items and they are immutable (unchangeable)
4. allow duplicate values

In [27]:
my_tuple = ("Hi", "there", 2, 3,3.3,4.6)  # example of a tuple
my_tuple

('Hi', 'there', 2, 3, 3.3, 4.6)

     Just like a Python List, Python Tuple items are indexed starting from 0, i.e. the first item in the
     tuple has the index 0, the second item has the index 1 and so on

In [31]:
tuple_1 = (1, 2, "Apple", "Cherry", "Apple")  # duplicate items are allowed in a tuple
tuple_1

(1, 2, 'Apple', 'Cherry', 'Apple')

In [32]:
len(tuple_1)# length (number of items in tuple)

5

In [33]:
tuple_1element = ("hello") # without a comma after the element in one-element tuple, you will not get a tuple type
type(tuple_1element)

str

In [34]:
 tuple_1element = ("hello",) # put a comma after the element in one-element tuple
type(tuple_1element)

tuple

In [35]:
my_tuple = ("Hello", "world", 1, 8.2)
print("my_tuple[0] => ", my_tuple[0]) # prints the first element of the tuple
print("my_tuple[-1] =>",my_tuple[-1]) # last element
print("my_tuple[1:3] =>",my_tuple[1:3])#elements at index 1 up to index 2 excluding index 3
print("my_tuple[-3: -1] =>",my_tuple[-3: -1]) # element at index -3 up to index -2 (excluding -1)
print("my_tuple[:2] =>",my_tuple[:2]) # elements from index 0 up to index 1
print("my_tuple[2:] =>",my_tuple[2:]) # elements from index 2 to end

my_tuple[0] =>  Hello
my_tuple[-1] => 8.2
my_tuple[1:3] => ('world', 1)
my_tuple[-3: -1] => ('world', 1)
my_tuple[:2] => ('Hello', 'world')
my_tuple[2:] => (1, 8.2)

In [38]:
'''You can not add items, update items, or remove items from a tuple.
You can delete a tuple with the del keyword.'''
del my_tuple

 ## Unpack Tuples

In [39]:
# Remember to provide as many variables as there are values in the tuple
student1, student2, student3 = ("Santosh", "Kiran", "Koshal")
print(student1)
print(student2)
print(student3)

Sam
Harry
Tom

In [41]:
my_tuple = ("This", "is", "example") # looping
for item in my_tuple:
    print(item)

This
is
great

In [43]:
tuple_1 = (1,2,3)
tuple_2 = (4,5,6)
tuple_3 = (7,8,9)
print(tuple_1 + tuple_2)            # joining 
print(tuple_1 + tuple_2 + tuple_3)  # joining

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [44]:
(1,2,3) * 3 # multiplying

(1, 2, 3, 1, 2, 3, 1, 2, 3)

  # Python Sets
  
**Python set can store multiple values in a variable, just like List and Tuple.
Python sets are:**
1. unordered
2. unindexed (as opposed to lists and tuples, which are indexed)
3. do not allow duplicates (as opposed to lists and tuples, which allow duplicates)
4. immutable (elements can not be changed, removed or updated) - allows adding of new elements
5. enclosed by curly braces {}

In [45]:
# use curly braces {} to define a set
my_set = {2, "Hi", 5.65, True}
my_set

{2, 5.65, 'Hi', True}

In [46]:
# duplicates are not retained
set_1 = {1, 2, "Hi", "there", "Hi", False}
set_1

{1, 2, False, 'Hi', 'there'}

In [47]:
# length (number of items) of a set
len(set_1)

5

In [49]:
for i in set_1: # loop
    print(i)

False
1
2
there
Hi

In [51]:
 1 in set_1

True

## Add items to set
**You can not change the items already in a set, however, you can add items to the set by using the
add() method.**

In [52]:
my_set = {1,2,3}
my_set.add("python")
my_set

{1, 2, 3, 'python'}

In [53]:
your_set = {"Hi", "Hello"} #You can add items from another set by using the update() method
my_set.update(your_set)
my_set

{1, 2, 3, 'Hi', 'python', 'there'}

# Python Dictionary

**Python dictionary stores data in the form of key, value pairs (key:value) separated by commas and
the pairs are enclosed by curly braces.**

In [55]:
city_pop = {
"Kathmandu": 3.5,
"Pokhara": 7,
"Butwal": 6
}
city_pop

{'Kathmandu': 3.5, 'Pokhara': 7, 'Butwal': 6}

In [ ]:
city_pop["butwal"]