# This is my first coding.

In [5]:
# printing Hello world
print("Hello World")

Hello World

In [6]:
'''This multiple line comment'''
print("I love python")

I love python

In [10]:
x = 2 # declearing variable
X = 5
print(x)

2

In [11]:
print(X)

5

In [15]:
first_name = "Kiran" # assigning string to a variable
last_name = "Paudel"
print("my name is ",first_name,"and last name is",last_name )

my name is  Kiran and last name is Paudel

In [16]:
7name = " Harry" # number are not accepted at the front of variable

SyntaxError: invalid decimal literal (1535572672.py, line 1)

In [18]:
_age = 25
name7 = "Sarah"
n7ame = "Joshnson"
country = "Nepal"
Country = "USA"

In [19]:
print("_age:",_age)
print("name7",name7)
print("n7ame:",n7ame)
print("country:",country)
print("Country:",Country)

_age: 25
name7 Sarah
n7ame: Joshnson
country: Nepal
Country: USA

In [24]:
name1 = "Kiran"
age1 = 24
print("my name is ",name1 ,"and my age is age1", age1)

my name is  Kiran and my age is age1 24

In [25]:
type(name1)

str

In [28]:
type(age1)

int

In [30]:
ls = [1 ,24,5 ]
type(ls)

list

In [34]:
x = int(2.45) # forcing to change from float to integer
y = str(45)# changing int to string
z = float(2)# changing to float
x,y,z

(2, '45', 2.0)

# Arthimetic Operation

In [1]:
2 + 2 # addition

4

In [2]:
2 - 2 # substraction

0

In [3]:
2 * 3 # multiplication

6

In [4]:
3 / 3 # division

1.0

In [5]:
2 ** 2 # 2 to the powert 3

4

In [6]:
5 % 2 # remainder

1

In [7]:
5 % 3 # floor division

2

# Exercise

In [14]:
 x = 7 * (3 + 8 -4)/6
x

8.166666666666666

In [15]:
y = (x)% 2
y

0.16666666666666607

In [16]:
z = y ** 3
z

0.00462962962962958

In [17]:
k = z//3
k

0.0

In [18]:
x = 3
x

3

In [23]:
x += 5 # its adds 5 in x
x

330

In [22]:
x *= 5
x

325

# comparision operation

In [25]:
2 == 3

False

In [26]:
2 != 3

True

In [27]:
2 < 3

True

In [29]:
3 <= 3

True

# Logical Operation

In [30]:
2 > 1 and 3 < 5

True

In [31]:
2 < 3 or 5 < 3

True

In [32]:
2 < 3 and 5 < 3

False

In [33]:
2 > 1 or 3 < 5

True

# logical opertator procedure

In [34]:
False or True  and not True

False

# Identity Operators

In [35]:
x = 2
type(x) is int

True

In [40]:
y = 2.32
type(y) is int

False

In [41]:
type(y) is not int

True

In [42]:
type(y) is float

True

# membership Operation

In [43]:
'h' in 'hello'

True

In [44]:
'llo' in 'hello'

True

In [45]:
'm' in 'hello'

False

# Bitwise Operators

In [46]:
 2 & 3

2

In [47]:
2 | 3

3

# Pyrhon List

In [91]:
fruits = [ "Apple","Banana","Peach"]
print(fruits)
type(fruits)

['Apple', 'Banana', 'Peach']

list

In [92]:
Num = [1,2,3,4,5]
print(Num)
type(fruits)

[1, 2, 3, 4, 5]

list

In [93]:
len(fruits)

3

In [94]:
myList = [1 , 3.0, 'Hello',True]
print(myList)
type(myList)

[1, 3.0, 'Hello', True]

list

In [95]:
fruits[2]

'Peach'

In [96]:
fruits[1:3] #it include 1 but not 3

['Banana', 'Peach']

In [97]:
Num[2:]

[3, 4, 5]

In [98]:
Num[:3]

[1, 2, 3]

In [99]:
Num[2: 4]

[3, 4]

In [100]:
'Banana' in fruits

True

In [101]:
'Mango' in fruits

False

# Change list items

In [102]:
fruits[1] = 'Mango'# its reasign the index 1 value to given value
fruits

['Apple', 'Mango', 'Peach']

In [103]:
fruits

['Apple', 'Mango', 'Peach']

In [104]:
fruits[1:3] = ['Mang','peac']
fruits

['Apple', 'Mang', 'peac']

In [105]:
fruits

['Apple', 'Mang', 'peac']

In [108]:
fruits[2:3] = ['Mango','Grapes']
fruits

['Apple', 'Mang', 'Mango', 'Grapes', 'Grapes']

In [114]:
fruits[3:5] = ['Grape']

In [115]:
fruits

['Apple', 'Mang', 'Mango', 'Grape']