# This is my first coding.

In [3]:
# printing Hello world
print("Hello World")

Hello World

In [4]:
'''This multiple line comment'''
print("I love python")

I love python

In [5]:
x = 2 # declearing variable
X = 5
print(x)

2

In [6]:
print(X)

5

In [7]:
first_name = "Kiran" # assigning string to a variable
last_name = "Paudel"
print("my name is ",first_name,"and last name is",last_name )

my name is  Kiran and last name is Paudel

In [9]:
_age = 25
name7 = "Sarah"
n7ame = "Joshnson"
country = "Nepal"
Country = "USA"

In [ ]:
print("_age:",_age)
print("name7",name7)
print("n7ame:",n7ame)
print("country:",country)
print("Country:",Country)

In [ ]:
name1 = "Kiran"
age1 = 24
print("my name is ",name1 ,"and my age is age1", age1)

In [ ]:
type(name1)

In [ ]:
type(age1)

In [ ]:
ls = [1 ,24,5 ]
type(ls)

In [ ]:
x = int(2.45) # forcing to change from float to integer
y = str(45)# changing int to string
z = float(2)# changing to float
x,y,z

# Arthimetic Operation

In [ ]:
2 + 2 # addition

In [ ]:
2 - 2 # substraction

In [ ]:
2 * 3 # multiplication

In [ ]:
3 / 3 # division

In [ ]:
2 ** 2 # 2 to the powert 3

In [ ]:
5 % 2 # remainder

In [ ]:
5 % 3 # floor division

# Exercise

In [ ]:
 x = 7 * (3 + 8 -4)/6
x

In [ ]:
y = (x)% 2
y

In [ ]:
z = y ** 3
z

In [ ]:
k = z//3
k

In [ ]:
x = 3
x

In [ ]:
x += 5 # its adds 5 in x
x

In [ ]:
x *= 5
x

# comparision operation

In [ ]:
2 == 3

In [ ]:
2 != 3

In [ ]:
2 < 3

In [ ]:
3 <= 3

# Logical Operation

In [ ]:
2 > 1 and 3 < 5

In [ ]:
2 < 3 or 5 < 3

In [ ]:
2 < 3 and 5 < 3

In [ ]:
2 > 1 or 3 < 5

# logical opertator procedure

In [ ]:
False or True  and not True

# Identity Operators

In [ ]:
x = 2
type(x) is int

In [ ]:
y = 2.32
type(y) is int

In [ ]:
type(y) is not int

In [ ]:
type(y) is float

# membership Operation

In [ ]:
'h' in 'hello'

In [ ]:
'llo' in 'hello'

In [ ]:
'm' in 'hello'

# Bitwise Operators

In [ ]:
 2 & 3

In [ ]:
2 | 3

# Pyrhon List

In [ ]:
fruits = [ "Apple","Banana","Peach"]
print(fruits)
type(fruits)

In [ ]:
Num = [1,2,3,4,5]
print(Num)
type(fruits)

In [ ]:
len(fruits)

In [ ]:
myList = [1 , 3.0, 'Hello',True]
print(myList)
type(myList)

In [ ]:
fruits[2]

In [ ]:
fruits[1:3] #it include 1 but not 3

In [ ]:
Num[2:]

In [ ]:
Num[:3]

In [ ]:
Num[2: 4]

In [ ]:
'Banana' in fruits

In [ ]:
'Mango' in fruits

# Change list items

In [ ]:
fruits[1] = 'Mango'# its reasign the index 1 value to given value
fruits

In [ ]:
fruits

In [ ]:
fruits[1:3] = ['Mang','peac']
fruits

In [ ]:
fruits

In [ ]:
fruits[2:3] = ['Mango','Grapes']
fruits

In [ ]:
fruits[3:5] = ['Grape']

In [ ]:
fruits

# List Methods

In [ ]:
fruits.append("Jackfruit")
fruits